serverid=2
port=8001
store=data/data2
ringaddr=localhost:6000
leader=localhost:5000
logDir=log/server2-0
ringaddr=localhost:6001
leader=localhost:5001
logDir=log/server2-1
ringaddr=localhost:6002
leader=localhost:5002
logDir=log/server2-2
ringaddr=localhost:6003
leader=localhost:5003
logDir=log/server2-3
ringaddr=localhost:6004
leader=localhost:5004
logDir=log/server2-4