serverid=3
port=8002
store=data/data3
ringaddr=localhost:7000
leader=localhost:6000
logDir=log/server3-0
ringaddr=localhost:7001
leader=localhost:6001
logDir=log/server3-1
ringaddr=localhost:7002
leader=localhost:6002
logDir=log/server3-2
ringaddr=localhost:7003
leader=localhost:6003
logDir=log/server3-3
ringaddr=localhost:7004
leader=localhost:6004
logDir=log/server3-4