zookeeper.hosts=127.0.0.1
zookeeper.port=2181
zookeeper.broker.path=/brokers
kafka.topic=MyTopic
kafka.consumer.id=kafka-docdb-consumer
zookeeper.consumer.connection=127.0.0.1:2181
zookeeper.consumer.path=/docdb-kafka
consumer.forcefromstart=false
consumer.fetchsizebytes=1048576
consumer.fillfreqms=1000
consumer.backpressure.enabled=true
consumer.num_fetch_to_buffer=1
kafka.message.handler.class=consumer.kafka.IdentityMessageHandler
kdb.endpoint=http://localhost:8000
kdb.dbname=kafka